.resume_btn {
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
  padding: 7px 38px;
  transition: all 0.5s ease-in-out;
  background: #24263b;
}
.resume_btn:hover {
  transition: all 0.5s ease-in-out;
}

.hireMe_btn {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 25px;
  padding: 8px 54px;
  transition: all 0.5s ease-in-out;
}
.hireMe_btn:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-in-out;
}
